.alldata{
	margin:0px;
}
.holder{
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 10%;

}

.pointer-cursor{
	cursor: pointer;
}

.info{
	padding: 5%;
}

#login{
	padding-left: 5%;
	padding-right:5%;
}

.full-width{
	width: 100%;
}

.mybtn{
	height: 175px;
	width:250px;
	font-size: 125%;
}

.nomargin{
	margin:0px !important;
}
.margin8p{
	margin-left: 8%;
	margin-right:8%;
}

.margin2p{
	margin-left: 2%;
	margin-right:2%;
}

.borderright{
	border-right: 1px solid grey;
}

.flex{
	display: flex;
}


#pics{
	 
	padding:15px;
	
	
}

.inputbox{
	margin-left:25%;
	margin-right: 25%;
}

.smallmodal{
	width: 45%;
	background: white;
	border-radius: 10px;
}


.mybtn2{
	height: 120px;
	width:175px;
	font-size: 150%;
}

.equalbtn{
	font-size: 125%;
}

.subgame{
	margin-left:10%;
	margin-right: 10%;
}


.nums{
	font-size: 250%;
}

.nums2{
	font-size: 300%;
}

.examples{
	margin-left:35%;
	margin-right: 35%;
}

.video{
	margin-left:15%;
	margin-right: 15%;
}

.examples2{
	margin-left:15%;
	margin-right: 15%;
}

.pad10{
	padding: 5px;
}

.mycontainer{
	margin-left:10%;
	margin-right: 10%;
}


.scorereport{
	margin-left:20%;
	margin-right: 20%;
}